@page
@model GameJam.Pages.Home.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="access-denied-header">Access denied you are not allowed to access this location.</h1>
</div>