@page
@{
    ViewData["Title"] = "Not Allowed";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You are not allowed to login to this account. The most common reason for this is <strong>Your email not being confirmed.</strong></p>
    <p>If your email is confirmed and you are still experiencing this error, please contact us so we can take a look.</p>
    <a asp-area="Identity" asp-page="ResendEmailConfirmation">Resend email confirmation</a>
</header>