@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
<p> Please check your email to confirm your account. (Make sure you check your spam folder.)</p>

<h6>Already confirmed your email?</h6>
<a asp-area="Identity" asp-page="Login">Login</a>