@{
    ViewData["Title"] = "Home";
}

<center>
    <h1 class="display-4 header"><strong>Welcome to KTF Game Jam!</strong></h1>
    <img src="~/Images/Banner.jpg" alt="KTF Banner" width="750" />
    <h4>What is a Game Jam?</h4>
    <p class="information-text">
        A game jam is a contest where participants try to make a video game from scratch. 
        Depending on the format, participants might work independently, or in teams. 
        The contest duration usually ranges from 24 to 72 hours.
    </p>
    <h4>Theme: <strong>Not chosen.</strong></h4>

    <h4>Rules:</h4>
    <p class="information-text">
        1. No inappropriate content like NSFW.<br />
        2. Be nice to each other<br />
        3. Have fun!
    </p>
    <br />
    <a asp-area="Identity" asp-page="/Account/Manage/Index" class="home-påmelding-btn btn">Join the KTF Game Jam!</a>
</center>
